/* Global style variables */

$font-family: "Arial", sans-serif;

$primary-color: #22263d;
$primary-opaque-color: rgba(34, 38, 61, 0.2);

$secondary-color: #49ace1;
$secondary-opaque-color: rgba(73, 172, 255, 0.2);

$tertiary-color: #a7a9ac;
$tertiary-opaque-color: rgba(167, 169, 172, 0.2);

$light-background: #FFFFFF;
$light-opaque-background: rgba(255, 255, 255, 0.8);

$dark-background: #292929;
$dark-opaque-background: rgba(41, 41, 41, 0.8);

$primary-text: #292929;
$secondary-text: #444444;
$tertiary-text: #9b9b9b;

$valid-color: #28a745;
$valid-opaque-color: rgba(40, 167, 69, 0.2);

$invalid-color: #dc3545;
$invalid-opaque-color: rgba(220, 53, 69, 0.2);

$warning-color: #ffc107;
$warning-opaque-color: rgba(255, 193, 69, 0.2);
